html {
    overflow: hidden;
}

body {
    font-family: 'MedievalSharp';
    background-color: antiquewhite;
}

.top {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
}

.sub-title {
    margin: 0px;
}

.sub-title ,
.rival {
    text-align: center;
    font-size: 22px;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    font-weight: 500;
    font-size: 20px;
}

.cards ,
.rival-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: 0.5s ease-in-out;
}

.rival {
    margin-bottom: 10px;
}

.winner-card {
    box-shadow: 0 0 30px rgb(3, 246, 3);
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}

.loser-card {
    box-shadow: 0 0 30px rgb(255, 0, 0);
    transition: 0.5s ease-in-out;
    transform: scale(0.95);

}

.show-card {
    transition: 0.5s;
}